@charset "utf-8";
/* CSS Document */
/* Edited BY Pritam */

body{font-family: 'Yanone Kaffeesatz', sans-serif;}
header{padding:15px 0px; background:#e2e2e2}
.banner{background:url(images/travel-banner.jpg) no-repeat center; height:auto}
.banner-content{width:50%; float:right;; background:rgba(0,0,0,0.6); padding:100px 30px}
.banner-content h1{font-size:42px; color:#fff; font-weight:300}
.banner-content h1 a{font-weight:700; color:#E75B0F;font-family: 'Montserrat', sans-serif;}
.banner-content p{color:#fff;  letter-spacing:1px; font-size:16px}
.banner-content p a{padding:10px 30px; background:#E75B0F; color:#fff; text-transform:uppercase; text-decoration:none; border-radius:4px; box-shadow:0px 2px 2px #222; display:inline-block; margin-top:15px}
.banner-content p a:hover{background:#000; color:#E75B0F;}
.body-content{padding:30px 0px}
.body-content h2{font-size:45px; text-transform:uppercase; font-weight:300}
p{font-family: 'Montserrat', sans-serif;}
.content-details h3{font-size:25px; font-weight:500}
.content-details a{text-decoration:none;font-family: 'Montserrat', sans-serif; font-size:15px;background:#E75B0F; color:#fff;  padding:6px 15px; display:inline-block ;box-shadow:0px 2px 2px #222;}
.content-details{margin-top:45px;}
.content-details a:hover{background:#000; color:#fff;}
footer{background:#222; padding:30px 0px; color:#eee}
footer a{color:#ccc; text-decoration:none}
footer a:hover{color:#fff;}
footer p{margin:0px; padding:0px;}
.banner-content p a{text-align:center;}

/*----------resrponsive design-----------*/

@media only screen and (max-width: 991px) {
	.banner-content h1{font-size:32px;}	
	.banner-content{padding:60px 15px;}
}


@media only screen and (max-width: 767px) {
	.content-details{margin-top:15px;}	
	.body-content .row{margin-top:25px;}
	.banner-content{width:70%;}
	.banner-content{padding:30px 15px;}
	.banner-content h1{font-size:23px;}	
}

@media only screen and (max-width: 520px) {
	.banner-content{width:100%; margin:15px 0px}	
	.body-content h2{font-size:32px;}
}